:root {
  --primary: #EB1CCC;
  --secondary: #95989A;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;

  font-size: 62.5%;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

/*    subscription section     */
/* Event form */

#event-description {
  /* jeito interessante de escurecer a imagem */
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.8)), url(../img/hrz-5.jpg); 
  background-position: center;
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
}

#disclaimer h2 {
  font-size: 4.8rem;
  margin-bottom: 4.8rem;
}

#disclaimer .about-event {
  font-size: 3.2rem;
  text-transform: uppercase;
  max-width: 35rem;
  font-weight: bold;
  margin-bottom: 3.2rem;
}

#disclaimer p {
  font-size: 1.92rem;
  margin-bottom: 0.576rem;
}

#disclaimer .event-date {
  font-weight: bold;
}

#subscription-form {
  background-color: var(--secondary);
  padding: 3.2rem;
  max-width: 25%;
}

#subscription-form p {
  font-size: 2.4rem;
  color: var(--text-secondary);
  margin-bottom: 2.4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.28rem;
 }

 .form-group label {
  font-size: 1.6rem;
  color: var(--text-tertiary);
  margin-bottom: .48rem;
  font-weight: bold;
 }

 .form-group input,
 .form-group select {
  padding: 6px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
 }

 .btn {
  background-color: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  border: none;
  padding: 12px;
  cursor: pointer;
  opacity: .8;
 }

 .btn:hover {
  opacity: 1;
 }

 /*    benefits section     */
#key-benefits h2 {
  font-size: 2.4rem;
  background-color: var(--secondary);
  text-align: center;
  padding: 2em;
  font-weight: 500;
}

.benefits {
  display: flex;
  justify-content: space-around;
  padding: 6.4rem;
  width: 80%;
  margin: 0 auto;
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: var(--text-tertiary);
}

.benefit .benefit-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1.6rem;
}

#benefit-1 {
  background-image: url("../img/sqr-1.jpg");
}
#benefit-2 {
  background-image: url("../img/sqr-2.jpg");
}
#benefit-3 {
  background-image: url("../img/sqr-3.jpg");
}

/*    location section     */
#location {
  /* jeito interessante de escurecer a imagem */
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.8)), url(../img/hrz-1.jpg); 
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  margin-bottom: 4.8rem;
}

#address,
#about-location {
  max-width: 30%;
}

#address {
  display: flex;
}

#address i {
  color: var(--primary);
  font-size: 6.4rem;
  margin-right: 3.2rem;
}

#address-details {
  text-align: center;
  font-size: 2.08rem;
}

#about-location h3 {
  color: var(--primary);
  font-size: 4rem;
  margin-bottom: 4rem;
  text-transform: uppercase
}

#about-location p {
  line-height: 2.4rem;
}

/*    event details section     */

#details {
  width: 80%;
  margin: 0 auto;
}

.detail {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 6.4rem;
}

.detail img {
  width: 50%;
}

.detail h2 {
  font-size: 4.8rem;
  margin-bottom: 1em;
  font-weight: 700;
}

.detail h3 {
  font-size: 3.2rem;
  margin-bottom: 1em;
  font-weight: 500;
}

.detail-description {
  width: 100%;
  padding-left: 3.2rem;
}

.detail-description ul {
  list-style: inside;
}

.detail-description ul li {
  margin-bottom: 0.64rem;
}

.detail-description ul li:last-child {
  font-weight: bold;
}

/*    event details section     */
#cta {
  /* jeito interessante de escurecer a imagem */
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.8)), url(../img/hrz-6.jpg); 
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

#cta h3 { 
  font-size: 3.2rem;
  margin-bottom: 1.2em;
  font-weight: 500;
}

#cta .btn {
  width: 30%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.92rem;
}

 /*    FOOTER     */

#footer {
  text-align: center;
  color: var(--secondary);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer h3 {
  font-size: 2.88rem;
  margin-bottom: 0.5em;
}

#footer p:nth-child(2) {
  font-size: 1.92rem;
  margin-bottom: 1em;
}

#footer span {
  font-weight: bold;
}

