:root {
  --primary: #EB1CCC;
  --secondary: #95989A;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;

  font-size: 62.5%;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*    subscription section     */
/* Event form */

#event-description {
  /* jeito interessante de escurecer a imagem */
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.8)), url(../img/hrz-5.jpg); 
  background-position: center;
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
}

#disclaimer h2 {
  font-size: 4.8rem;
  margin-bottom: 4.8rem;
}

#disclaimer .about-event {
  font-size: 3.2rem;
  text-transform: uppercase;
  max-width: 35rem;
  font-weight: bold;
  margin-bottom: 3.2rem;
}

#disclaimer p {
  font-size: 1.92rem;
  margin-bottom: 0.576rem;
}

#disclaimer .event-date {
  font-weight: bold;
}

#subscription-form {
  background-color: var(--secondary);
  padding: 3.2rem;
  max-width: 25%;
}

#subscription-form p {
  font-size: 2.4rem;
  color: var(--text-secondary);
  margin-bottom: 2.4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.28rem;
 }

 .form-group label {
  font-size: 1.6rem;
  color: var(--text-tertiary);
  margin-bottom: .48rem;
  font-weight: bold;
 }

 .form-group input,
 .form-group select {
  padding: 6px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
 }

 .btn {
  background-color: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  border: none;
  padding: 12px;
  cursor: pointer;
  opacity: .8;
 }

 .btn:hover {
  opacity: 1;
 }


